<html>
    <style>
        .navitem {
            padding: 10px;
            font-size: 2em
        }
        .navbar {
            padding-bottom: 8px;
            border-bottom: 2px solid blue;
        }
        .mary {
            float: right;
            font-size: 1em
        }
        .main {
            padding: 20px;
        }
    </style>
    <head>
        <title>BB ai ni</title>
    </head>
    <body>
        <div class="navbar">
            <span class="navitem">Home</span>
            <span class="navitem">
                <a href="/about">About</a>
            </span>
            <span class="mary">🤩a website by mary🤩</span>
        </div>
        <div class="main">
            <div class="questions">
                What is the genre of this audio?
            </div>
            <div class="audio">some audio stuff</div>
            <div class="genre-options">
                <select>
                    <option value="metal">metal</option>
                    <option value="blues">blues</option>
                    <option value="country">country</option>
                    <option value="rock">rock</option>
                    <option value="pop">pop</option>
                </select>
            </div>
        </div>

    </body>
</html>